// font families
$barlow: 'Barlow Condensed', sans-serif;
$bellefair: 'Bellefair', serif;
// colors
$primary: #ffff;
$secondary: #d0d6f9;
$dark: #0b0d17;


$nav-links: $barlow;
$heading-1-4-font: $bellefair;
$heading-5-font: $bellefair;